name: Deploy

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  
on:
  workflow_dispatch

jobs:
  deploy:
    runs-on: self-hosted


    steps:
      - name: Checkout 
        uses: actions/checkout@v4.1.1
        env:
          GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          fetch-depth: 0

      - name: Install ssh keys
        run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SSH_HOST }} > ~/.ssh/known_hosts
          docker context rm remote; docker context create remote --docker host=ssh://${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3.0.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker compose
        env:
          IMAGE_REF: ${{ steps.meta.outputs.tags }}
          ALGEM531_URL: ${{ secrets.ALGEM531_URL }}
          ALGEM532_URL: ${{ secrets.ALGEM532_URL }}
          INF531_URL: ${{ secrets.INF531_URL }}
          INF532_URL: ${{ secrets.INF532_URL }}
          MATHS531_URL: ${{ secrets.MATHS531_URL }}
          MATHS532_URL: ${{ secrets.MATHS532_URL }}
          PROG531_URL: ${{ secrets.PROG531_URL }}
          PROG532_URL: ${{ secrets.PROG532_URL }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        run: |

          docker --context remote compose -f docker-compose.yml up -d
    #   - name: cleanup
    #     run: rm -rf ~/.ssh